{{>header}}
<div id='main' class='ui sixteen column grid'>
    <div id='latestPosts' class='fourteen wide centered column'>

    {{#each blogs}}
        <div id='blogSections'>
            <p class='blogHeader'>Author: Dom | Created {{toNormalDate this.created}}</p>
            <h1>{{this.title}}</h1>
            {{{this.image}}}
            <p class='blogBod'>{{{subString this.body}}}</p>
            <a class='readmore' href='/blog/{{this._id}}"Read More ...</a>
        </div>
    {{/each}}
    </div>
</div>
{{>footer}}
