{{>header}}
<div class='fifteen wide centered column'>

    {{#each blogs}}
        <div class='blogSections'>
            <p class='blogHeader'>Author: Dom | Created {{toNormalDate this.created}}</p>
            <h1 class='blogTitle'>{{this.title}}</h1>
            {{{this.image}}}
            <p class='blogBody'>{{{subString this.body}}}</p>
            <a class='blogReadmore' href='/blog/{{this._id}}'>Read More ...</a>
        </div>
    {{/each}}
</div>
{{>footer}}
